<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>a1</string>
		<key>title</key>
		<string>美食</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a2</string>
		<key>title</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a3</string>
		<key>title</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a4</string>
		<key>title</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a5</string>
		<key>title</key>
		<string>优惠买单</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a6</string>
		<key>title</key>
		<string>周边游</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a7</string>
		<key>title</key>
		<string>火车票</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a8</string>
		<key>title</key>
		<string>外卖</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a9</string>
		<key>title</key>
		<string>丽人</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a10</string>
		<key>title</key>
		<string>休闲娱乐</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a11</string>
		<key>title</key>
		<string>今日新单</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a12</string>
		<key>title</key>
		<string>购物</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a13</string>
		<key>title</key>
		<string>生活服务</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a14</string>
		<key>title</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a15</string>
		<key>title</key>
		<string>足疗按摩</string>
	</dict>
	<dict>
		<key>img</key>
		<string>a16</string>
		<key>title</key>
		<string>全部分类</string>
	</dict>
</array>
</plist>
