<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>线上</key>
	<string></string>
	<key>开发</key>
	<string></string>
	<key>预发</key>
	<string></string>
	<key>测试</key>
	<string></string>
	<key>演示</key>
	<string></string>
</dict>
</plist>
