<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UMeng</key>
	<string>564ae692e0f55af4ed0050fe</string>
	<key>QQ</key>
	<string>1104640160</string>
	<key>WeChat</key>
	<string>wx79b509c86613deb0</string>
</dict>
</plist>
